.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #53c3fa;
    color: white;
    
}

.title {
    color: #254246;

    @media only screen and (max-width: 470px) {
        text-align: center;
        font-size: 22px;
    }
}

.logo {
    @media only screen and (max-width: 800px) {
        width: 100px;
    }
}
