* {
  box-sizing: border-box;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.searchbar {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.search {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #a3dbf2;
  text-align: center;
  font-size: 16px;
}

.search-button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #006cbf;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.display-pokemon-chosen {
  
}

.button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button button {
  border-style: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
  width: 150px;
  /* height: 20px; */
}
