* {
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0px;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;

  @media only screen and (max-width: 450px) {
    width: 90%;
  }
}

.searchbar {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.search {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #a3dbf2;
  text-align: center;
  font-size: 16px;
}

.search-button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #006cbf;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.dropdown {
  
}

.card-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  max-width: 400px;
}

.button {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;

  @media only screen and (max-width: 450px) {
    flex-direction: column;
    align-items: center;
  }
}

.button button {
  border-style: none;
  cursor: pointer;
  padding: 5px 10px;
  /* margin-right: 10px; */
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
  width: 150px;
}
